container/data/flows.json
[
    {
        "id": "0b4896f60fec93c2",
        "type": "tab",
        "label": "DHT22",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a2050da58b9ceffe",
        "type": "tab",
        "label": "Audio + Video",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "47f835d6bae6e30e",
        "type": "tab",
        "label": "NFC",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "819d5f2cd30dfca7",
        "type": "tab",
        "label": "Serranda + Allarme",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e8602252ec8ae6cc",
        "type": "tab",
        "label": "Stato garage",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e354f1ebb9edded8",
        "type": "websocket-listener",
        "path": "/audio",
        "wholemsg": "false"
    },
    {
        "id": "4976286c874d8dae",
        "type": "mqtt-broker",
        "name": "zio_pera",
        "broker": "io.adafruit.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1b2a1387411125a0",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 30,
                "gy": 6,
                "cx": 30,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "dccb1076abf152a1",
        "type": "ui_tab",
        "name": "Garage",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b2249798635b3ee3",
        "type": "ui_tab",
        "name": "Videosorveglianza",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e0ff5d3e06141d43",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "dccb1076abf152a1",
        "order": 1,
        "disp": false,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5785eb6524075136",
        "type": "ui_group",
        "name": "Umidità",
        "tab": "dccb1076abf152a1",
        "order": 2,
        "disp": false,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d662f0fd2e94d1e",
        "type": "ui_group",
        "name": "Telecamera",
        "tab": "b2249798635b3ee3",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eacb43e671c320d1",
        "type": "ui_tab",
        "name": "Controllo",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "91e4adc1a34bf764",
        "type": "ui_group",
        "name": "Report ",
        "tab": "eacb43e671c320d1",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b12857289083e19e",
        "type": "ui_group",
        "name": "Info garage",
        "tab": "eacb43e671c320d1",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f63de26c21b4a789",
        "type": "ui_spacer",
        "z": "e8602252ec8ae6cc",
        "name": "spacer",
        "group": "b12857289083e19e",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "8bedc26c401fcae9",
        "type": "ui_spacer",
        "z": "e8602252ec8ae6cc",
        "name": "spacer",
        "group": "b12857289083e19e",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "5c4db7200c532651",
        "type": "mqtt in",
        "z": "0b4896f60fec93c2",
        "name": "ReadVal",
        "topic": "paolo32v/feeds/DHT/readVal",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "4976286c874d8dae",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 40,
        "wires": [
            [
                "34fadbdfeddd3867",
                "5e75a5a1ee606d35"
            ]
        ]
    },
    {
        "id": "34fadbdfeddd3867",
        "type": "change",
        "z": "0b4896f60fec93c2",
        "name": "parser_umi",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "d3f8b2bf34426539",
                "0e736f485442048d"
            ]
        ]
    },
    {
        "id": "5e75a5a1ee606d35",
        "type": "change",
        "z": "0b4896f60fec93c2",
        "name": "parser_temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "016e3ce3b5647930",
                "763db21b39ad87da"
            ]
        ]
    },
    {
        "id": "838fee8f625fc1b1",
        "type": "mqtt out",
        "z": "0b4896f60fec93c2",
        "name": "setMAX",
        "topic": "paolo32v/feeds/setMAX",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4976286c874d8dae",
        "x": 920,
        "y": 380,
        "wires": []
    },
    {
        "id": "712fbe7b45212052",
        "type": "join",
        "z": "0b4896f60fec93c2",
        "name": "max_val",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 750,
        "y": 300,
        "wires": [
            [
                "d496b0c8cf36d848"
            ]
        ]
    },
    {
        "id": "d496b0c8cf36d848",
        "type": "json",
        "z": "0b4896f60fec93c2",
        "name": "parser_max_val",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 640,
        "y": 380,
        "wires": [
            [
                "838fee8f625fc1b1"
            ]
        ]
    },
    {
        "id": "e668549997b8f5b9",
        "type": "ui_slider",
        "z": "0b4896f60fec93c2",
        "name": "Temperatura Limite",
        "label": "Temperatura Limite",
        "tooltip": "",
        "group": "e0ff5d3e06141d43",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "max_temp",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 610,
        "y": 220,
        "wires": [
            [
                "712fbe7b45212052"
            ]
        ]
    },
    {
        "id": "4c42c3a448916190",
        "type": "ui_slider",
        "z": "0b4896f60fec93c2",
        "name": "Umidità Limite",
        "label": "Umidità Limite",
        "tooltip": "",
        "group": "5785eb6524075136",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "max_hum",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 880,
        "y": 220,
        "wires": [
            [
                "712fbe7b45212052"
            ]
        ]
    },
    {
        "id": "016e3ce3b5647930",
        "type": "ui_gauge",
        "z": "0b4896f60fec93c2",
        "name": "Temperatura",
        "group": "e0ff5d3e06141d43",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 110,
        "y": 240,
        "wires": []
    },
    {
        "id": "d3f8b2bf34426539",
        "type": "ui_gauge",
        "z": "0b4896f60fec93c2",
        "name": "Umidità",
        "group": "5785eb6524075136",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidità",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 360,
        "y": 240,
        "wires": []
    },
    {
        "id": "763db21b39ad87da",
        "type": "ui_chart",
        "z": "0b4896f60fec93c2",
        "name": "Grafico temperatura",
        "group": "e0ff5d3e06141d43",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Grafico temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 140,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "0e736f485442048d",
        "type": "ui_chart",
        "z": "0b4896f60fec93c2",
        "name": "Grafico umidità",
        "group": "5785eb6524075136",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Grafico umidità",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 380,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "ea94ae7d1207478f",
        "type": "mqtt in",
        "z": "0b4896f60fec93c2",
        "name": "InitMAX",
        "topic": "paolo32v/feeds/initMAX",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "4976286c874d8dae",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 730,
        "y": 40,
        "wires": [
            [
                "1215487def2450bc",
                "60cf66ffdd132057"
            ]
        ]
    },
    {
        "id": "1215487def2450bc",
        "type": "change",
        "z": "0b4896f60fec93c2",
        "name": "parser_umi",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.max_hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 140,
        "wires": [
            [
                "4c42c3a448916190"
            ]
        ]
    },
    {
        "id": "60cf66ffdd132057",
        "type": "change",
        "z": "0b4896f60fec93c2",
        "name": "parser_temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.max_temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 140,
        "wires": [
            [
                "e668549997b8f5b9"
            ]
        ]
    },
    {
        "id": "38b361d8e16ab979",
        "type": "ui_template",
        "z": "a2050da58b9ceffe",
        "group": "7d662f0fd2e94d1e",
        "name": "Output video",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align:center; height: 500px; overflow: hidden;\">\n  <img src=\"http://212.67.236.61/mjpg/video.mjpg\" style=\"max-width:100%; height:100%; object-fit: cover;\">\n</div>\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 610,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "1d8c2729e6f4a8b6",
        "type": "ui_template",
        "z": "a2050da58b9ceffe",
        "group": "7d662f0fd2e94d1e",
        "name": "Output audio",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"display: flex; align-items: center;\">\n    <span style=\"margin-right: 10px;\">🔊</span>\n    <input type=\"range\" id=\"volume-control\" min=\"0\" max=\"100\" value=\"100\" />\n</div>\n\n<script>\n(function(scope) {\n    const AudioContext = window.AudioContext || window.webkitAudioContext;\n    const audioCtx = new AudioContext();\n    const gainNode = audioCtx.createGain();\n    gainNode.gain.value = 1;\n    gainNode.connect(audioCtx.destination);\n\n    const proto = location.protocol === 'https:' ? 'wss://' : 'ws://';\n    const wsUrl = proto + location.host + '/audio';\n    const ws = new WebSocket(wsUrl);\n    ws.binaryType = 'arraybuffer';\n\n    ws.onopen = () => console.log(\"[UI] WS connesso a\", wsUrl);\n    ws.onerror = e => console.error(\"[UI] WS error\", e);\n\n    ws.onmessage = async ({ data }) => {\n        try {\n            const audioBuf = await audioCtx.decodeAudioData(data);\n            const src = audioCtx.createBufferSource();\n            src.buffer = audioBuf;\n            src.connect(gainNode);\n            src.start();\n        } catch (err) {\n            console.error(\"[UI] decodeAudioData failed:\", err);\n        }\n    };\n\n    const volumeSlider = document.getElementById(\"volume-control\");\n    volumeSlider.addEventListener(\"input\", () => {\n        gainNode.gain.value = volumeSlider.value / 100;\n    });\n\n    // Sblocca audioContext al primo input\n    volumeSlider.addEventListener('change', () => {\n        if (audioCtx.state === 'suspended') {\n            audioCtx.resume();\n        }\n    });\n})(scope);\n</script>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 610,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "fa57f9aa342847ae",
        "type": "websocket out",
        "z": "a2050da58b9ceffe",
        "name": "websocket_out_audio",
        "server": "e354f1ebb9edded8",
        "client": "",
        "x": 640,
        "y": 80,
        "wires": [],
        "info": " {\r\n  \"id\": \"wxyz5678\",\r\n  \"type\": \"websocket out\",\r\n  \"name\": \"Audio WebSocket Sender\",\r\n  \"path\": \"/audio\", // Endpoint WebSocket\r\n  \"server\": \"\",     // Usa il server WebSocket integrato di Node-RED\r\n  \"client\": \"\",\r\n  \"wires\": []\r\n}"
    },
    {
        "id": "ac948c51e33ace71",
        "type": "function",
        "z": "a2050da58b9ceffe",
        "name": "raw_to_wav",
        "func": "// Function: wrap-raw-to-wav\nconst pcm = msg.payload;         // Buffer raw PCM (16-bit LE, mono, 8kHz)\n\n// prepara header WAV (44 byte)\nconst header = Buffer.alloc(44);\nfunction writeString(buf, off, str) { buf.write(str, off, 'ascii'); }\n\n// RIFF chunk descriptor\nwriteString(header, 0, 'RIFF');\nheader.writeUInt32LE(pcm.length + 36, 4);  // file size - 8\nwriteString(header, 8, 'WAVE');\n\n// fmt subchunk\nwriteString(header, 12, 'fmt ');\nheader.writeUInt32LE(16, 16);      // subchunk1 size\nheader.writeUInt16LE(1, 20);       // PCM = 1\nheader.writeUInt16LE(1, 22);       // numChannels\nheader.writeUInt32LE(8000, 24);    // sampleRate\nheader.writeUInt32LE(8000 * 2, 28);// byteRate = sampleRate*blockAlign\nheader.writeUInt16LE(2, 32);       // blockAlign = numChannels*bytesPerSample\nheader.writeUInt16LE(16, 34);      // bitsPerSample\n\n// data subchunk\nwriteString(header, 36, 'data');\nheader.writeUInt32LE(pcm.length, 40);\n\n// concat header + payload\nmsg.payload     = Buffer.concat([header, pcm]);\nmsg.payloadType = 'bin';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 80,
        "wires": [
            [
                "fa57f9aa342847ae"
            ]
        ]
    },
    {
        "id": "17c7248d385ec9e6",
        "type": "udp in",
        "z": "a2050da58b9ceffe",
        "name": "udp_in_audio",
        "iface": "",
        "port": "12345",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 230,
        "y": 80,
        "wires": [
            [
                "ac948c51e33ace71"
            ]
        ]
    },
    {
        "id": "d05d5ebcee205b24",
        "type": "mqtt in",
        "z": "47f835d6bae6e30e",
        "name": "ReadNFC",
        "topic": "paolo32v/feeds/readNFC",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4976286c874d8dae",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 40,
        "wires": [
            [
                "aa3a5d7c4a94af1e"
            ]
        ]
    },
    {
        "id": "d2a9b9059476382b",
        "type": "http request",
        "z": "47f835d6bae6e30e",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 160,
        "wires": [
            [
                "e10e9eb8955a7aab",
                "9b457a6181c54298"
            ]
        ]
    },
    {
        "id": "e10e9eb8955a7aab",
        "type": "function",
        "z": "47f835d6bae6e30e",
        "name": "creazione risposta",
        "func": "const chiaveCercata = msg.chiaveCercata;  // recuperiamo la chiave cercata (da inject)\n\n// Verifica se la risposta contiene dei risultati\nif (msg.payload && msg.payload.count > 0 && Array.isArray(msg.payload.results)) {\n    // Cerchiamo la chiave in 'results'\n    const trovata = msg.payload.results.some(row => row.chiaveNFC === chiaveCercata);\n\n    if (trovata) msg.payload = 1;\n    else msg.payload = 0;\n} else msg.payload = 0;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 160,
        "wires": [
            [
                "167d2757444d0ef2",
                "fd034633e0f0fdfb"
            ]
        ]
    },
    {
        "id": "167d2757444d0ef2",
        "type": "debug",
        "z": "47f835d6bae6e30e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 260,
        "wires": []
    },
    {
        "id": "446ad54b820d0286",
        "type": "function",
        "z": "47f835d6bae6e30e",
        "name": "preparazione richiesta",
        "func": "const chiave = encodeURIComponent(msg.payload);\nmsg.url = `https://api.baserow.io/api/database/rows/table/532602/?user_field_names=true&filter__chiave__equal=${chiave}`;\nmsg.headers = {\n    \"Authorization\": \"Token hoTnIVgq345gSqgQLbX654eVweYUKu7k\"\n};\n// Salva il valore cercato per usarlo dopo\nmsg.chiaveCercata = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 40,
        "wires": [
            [
                "d2a9b9059476382b"
            ]
        ]
    },
    {
        "id": "9b457a6181c54298",
        "type": "debug",
        "z": "47f835d6bae6e30e",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 260,
        "wires": []
    },
    {
        "id": "fd034633e0f0fdfb",
        "type": "mqtt out",
        "z": "47f835d6bae6e30e",
        "name": "CheckNFC",
        "topic": "paolo32v/feeds/checkNFC",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4976286c874d8dae",
        "x": 850,
        "y": 160,
        "wires": []
    },
    {
        "id": "aa3a5d7c4a94af1e",
        "type": "change",
        "z": "47f835d6bae6e30e",
        "name": "parser uid ricevuto",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.uid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 40,
        "wires": [
            [
                "446ad54b820d0286"
            ]
        ]
    },
    {
        "id": "687cd543e8783ab5",
        "type": "ui_button",
        "z": "819d5f2cd30dfca7",
        "name": "Apri serranda",
        "group": "b12857289083e19e",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Apri serranda",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "apri",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 80,
        "wires": [
            [
                "2cd2e43387546614"
            ]
        ]
    },
    {
        "id": "2cd2e43387546614",
        "type": "mqtt out",
        "z": "819d5f2cd30dfca7",
        "name": "AzionaSerranda",
        "topic": "paolo32v/feeds/shutter",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4976286c874d8dae",
        "x": 600,
        "y": 120,
        "wires": []
    },
    {
        "id": "f11ee0d62a124d4f",
        "type": "ui_button",
        "z": "819d5f2cd30dfca7",
        "name": "Chiudi serranda",
        "group": "b12857289083e19e",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Chiudi serranda",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "chiudi",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 180,
        "wires": [
            [
                "2cd2e43387546614"
            ]
        ]
    },
    {
        "id": "9a804b0cf4f7ca86",
        "type": "ui_button",
        "z": "819d5f2cd30dfca7",
        "name": "Allarme",
        "group": "b12857289083e19e",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Disattiva Allarme",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "disattiva_allarme",
        "payloadType": "str",
        "topic": "topic.paolo32v/feeds/alarm",
        "topicType": "msg",
        "x": 340,
        "y": 300,
        "wires": [
            [
                "c81d6ec9887c4776"
            ]
        ]
    },
    {
        "id": "c81d6ec9887c4776",
        "type": "mqtt out",
        "z": "819d5f2cd30dfca7",
        "name": "Disattiva Allarme",
        "topic": "paolo32v/feeds/alarm",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4976286c874d8dae",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "8564eb52e1d1d584",
        "type": "ui_text",
        "z": "e8602252ec8ae6cc",
        "group": "b12857289083e19e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Stato garage",
        "label": "Stato garage:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 60,
        "wires": []
    },
    {
        "id": "0ef65e7eefa4f4a7",
        "type": "ui_text",
        "z": "e8602252ec8ae6cc",
        "group": "b12857289083e19e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Stato serranda",
        "label": "Stato serranda:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 140,
        "wires": []
    },
    {
        "id": "d2cb3e4f51f7125a",
        "type": "ui_text",
        "z": "e8602252ec8ae6cc",
        "group": "b12857289083e19e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Stato allarme",
        "label": "Stato allarme:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "f9dfdb04f10cf33e",
        "type": "mqtt in",
        "z": "e8602252ec8ae6cc",
        "name": "Info Garage",
        "topic": "paolo32v/feeds/infoGarage",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "4976286c874d8dae",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "03295a4333285638",
                "9cefa92280264cda",
                "9438f4b5b2059459"
            ]
        ]
    },
    {
        "id": "03295a4333285638",
        "type": "change",
        "z": "e8602252ec8ae6cc",
        "name": "stato garage",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.stato_garage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 60,
        "wires": [
            [
                "8564eb52e1d1d584"
            ]
        ]
    },
    {
        "id": "9cefa92280264cda",
        "type": "change",
        "z": "e8602252ec8ae6cc",
        "name": "stato serranda",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.stato_serranda",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 140,
        "wires": [
            [
                "0ef65e7eefa4f4a7"
            ]
        ]
    },
    {
        "id": "9438f4b5b2059459",
        "type": "change",
        "z": "e8602252ec8ae6cc",
        "name": "stato allarme",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.stato_allarme",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 220,
        "wires": [
            [
                "d2cb3e4f51f7125a"
            ]
        ]
    },
    {
        "id": "632afdfa82b94a86",
        "type": "inject",
        "z": "e8602252ec8ae6cc",
        "name": "Prova testo",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"stato_garage\":\"occupato\",\"stato_serranda\":\"chiusa\",\"stato_allarme\":\"disattivato\"}",
        "payloadType": "json",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "03295a4333285638",
                "9cefa92280264cda",
                "9438f4b5b2059459"
            ]
        ]
    },
    {
        "id": "f88e27db10c25ad6",
        "type": "ui_table",
        "z": "e8602252ec8ae6cc",
        "group": "91e4adc1a34bf764",
        "name": "Report table",
        "order": 1,
        "width": "6",
        "height": "4",
        "columns": [
            {
                "field": "Ingresso",
                "title": "Ingresso",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Uscita",
                "title": "Uscita",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "UID",
                "title": "UID",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 590,
        "y": 380,
        "wires": []
    },
    {
        "id": "04ab1db7314b3712",
        "type": "inject",
        "z": "e8602252ec8ae6cc",
        "name": "Prova report ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"Ingresso\":\"25/05/2025 17:30\",\"Uscita\":\"25/05/2025 19:30\",\"UID\":\"AE231\"},{\"Ingresso\":\"26/05/2025 08:15\",\"Uscita\":\"26/05/2025 10:00\",\"UID\":\"AE231\"},{\"Ingresso\":\"26/05/2025 11:45\",\"Uscita\":\"26/05/2025 13:10\",\"UID\":\"BF842\"},{\"Ingresso\":\"27/05/2025 09:00\",\"Uscita\":\"27/05/2025 11:30\",\"UID\":\"CX150\"},{\"Ingresso\":\"27/05/2025 14:10\",\"Uscita\":\"27/05/2025 15:45\",\"UID\":\"AE231\"}]",
        "payloadType": "json",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "a9adceb96bafc2a6"
            ]
        ]
    },
    {
        "id": "a9adceb96bafc2a6",
        "type": "function",
        "z": "e8602252ec8ae6cc",
        "name": "riempimento tabella",
        "func": "let reportData = flow.get(\"reportTableData\") || [];\n\nif (Array.isArray(msg.payload)) {\n    reportData = msg.payload;\n} else if (typeof msg.payload === 'object') {\n    reportData.push(msg.payload);\n}\n\nflow.set(\"reportTableData\", reportData);\n\n// ⚠️ Qui forziamo un nuovo riferimento → la ui_table lo “vede” come nuovo array\nmsg.payload = JSON.parse(JSON.stringify(reportData));\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 380,
        "wires": [
            [
                "f88e27db10c25ad6"
            ]
        ]
    },
    {
        "id": "e5b44bbf8e002557",
        "type": "inject",
        "z": "e8602252ec8ae6cc",
        "name": "Prova inserimento nuova riga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Ingresso\":\"29/05/2025 17:30\",\"Uscita\":\"29/05/2025 19:30\",\"UID\":\"TEST5\"}",
        "payloadType": "json",
        "x": 260,
        "y": 540,
        "wires": [
            [
                "a9adceb96bafc2a6"
            ]
        ]
    },
    {
        "id": "f13a65682b009b7e",
        "type": "inject",
        "z": "e8602252ec8ae6cc",
        "name": "Pulizia tabella",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 570,
        "y": 480,
        "wires": [
            [
                "f88e27db10c25ad6"
            ]
        ]
    },
    {
        "id": "d3ab887a6898f4c1",
        "type": "mqtt in",
        "z": "e8602252ec8ae6cc",
        "name": "Report accessi",
        "topic": "paolo32v/feeds/report",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "4976286c874d8dae",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 380,
        "wires": [
            [
                "a9adceb96bafc2a6"
            ]
        ]
    },
    {
        "id": "42a3950a606b28ab",
        "type": "function",
        "z": "e8602252ec8ae6cc",
        "name": "acquisizione dati tabella",
        "func": "let data = flow.get(\"reportTableData\") || [];\n\nlet csv = \"Ingresso,Uscita,UID\\n\";\n\ndata.forEach(row => {\n    csv += `${row.Ingresso},${row.Uscita},${row.UID}\\n`;\n});\n\nmsg.payload = csv;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 660,
        "wires": [
            [
                "75055beae777bc02"
            ]
        ]
    },
    {
        "id": "75055beae777bc02",
        "type": "file",
        "z": "e8602252ec8ae6cc",
        "name": "salvataggio file",
        "filename": "data/report.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 700,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "868c1cc048f0602a",
        "type": "ui_button",
        "z": "e8602252ec8ae6cc",
        "name": "Salva report",
        "group": "91e4adc1a34bf764",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Salva report",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 660,
        "wires": [
            [
                "42a3950a606b28ab"
            ]
        ]
    }
]